.upgradeCounters {
  position: absolute;
  left: 0px;
}
button {
  display: none;
}

label {
  display: none;
}
  
.alwaysVisible {
  display: inline;
}

body {
  background-image: url('assets/backgrounds/main_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

#addButton:hover {
  transform: scale(1.15, 1.15)
}  

#addButton:active {
  transform: scale(1.05, 1.05)
}

#addButton {
  display: block; 
  position: fixed;
  left: 40%;
  top: 35%;
}

#statsDiv {
  position: absolute;
  left: 40%;
  top: 10%;
  text-align: center;
  background-color: #DCDCDC;
  border-radius: 25px;
}
