.upgrades t{
  position: absolute;
  right: 0px;
}
button {
  display: none;
}

label {
  display: none;
}
  
.alwaysVisible {
  display: inline;
}
body {
  background-image: url('assets/backgrounds/main_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
#addButton:hover {
  transform: scale(1.1, 1.1)
}  
